.App {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  /* letak logo dan text dalam kotak */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
/* background logo */
}

/* .App-header { 
 background-color: rgba(40, 26, 235, 0.664); */
  /* border-radius: 52px;
  height: 10px;
  padding: 0px;
  color: rgb(217, 230, 213);
  width: 500px;
  margin: 0 auto;
  text-align: center;
  Welcome to React */

 /* }  */

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
  /* perputaran logo  */
}
