body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#root{
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -220px;
  

}
html, body {
  height: 100%;
  color: #61DAFB;
  background: #2D2D2D;
}

h1 {
  /* margin: 20px 0 15px 0; */
  text-align: center;
  width: 679px;
  margin: 600 auto;
  
}

#main {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
}

ul>li:hover {
  background-color: rgba(34, 175, 180, 0.267);
  margin: 6px;
  padding: 6px;
  /* background-size: 6; */
}

.form-inline .form-control {
  /* width: 50%; */
  width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-left: 80px;
  font-size: 23px;
}


/* .done {
  color: red;
  text-decoration: line-through;
} */

.undone {
  color: rgb(242, 247, 248);

  background-color: rgba(174, 0, 255, 0.562);
}

.icon {
  margin: 6px 10px 6px 0;
 
}
